$header-font-family: 'Open Sans Condensed', Candara, sans-serif;

$green: #009102;
$dark-green: #007A02;
$light-green: #8FEA8A;
$light-light-green: #DCF7D7;
$faded-green: #288529;

$header-background-dark: #222;
$header-background-light: #466d43;
$header-background-xlight: #588755;

@mixin min-tablet {
   @media (min-width: 800px) {
      @content;
   }
}

@mixin min-desktop {
   @media (min-width: 992px) {
      @content;
   }
}

@mixin min-large-desktop {
   @media (min-width: 1200px) {
      @content;
   }
}

@mixin clear-after {
   &:after {
      clear: both;
      display: table;
      content: ' ';
   }
}

@mixin button-primary {
   display: inline-block;
   background: $green;
   color: #fff;
   border: none;
   outline: none;
   font-family: $header-font-family;
   font-weight: bold;
   text-transform: uppercase;
   cursor: pointer;
   text-align: center;
   padding: 12px 60px;
   border-radius: 8px;
   font-size: 18px;
   &:hover,
   &:focus {
      background: $dark-green;
      color: #fff;
   }
}