@import '_core.scss';
.footer {
   background: #333;
   color: #aaa;
   padding: 30px 15px;
}

.footer-contact {
   h1,
   h2,
   h3,
   h4,
   h5 {
      color: #ccc;
      text-transform: uppercase;
   }
   a {
      color: #ccc;
      &:hover,
      &:focus {
         color: $light-green;
      }
   }
}

.footer-social {
   margin-right: 10px;
   margin-bottom: 40px;
   .social-link {
      color: #ddd;
      font-size: 32px;
      display: inline-block;
      margin: 0 7px;
      &:hover,
      &:focus {
         color: $light-green;
         text-decoration: none;
      }
   }
}

.footer-links {
   text-align: left;
   margin-top: 30px;

   & a {
      color: #ccc;

      &:hover {
         color: $light-green;
      }
   }
}

.footer-subscribe {
   max-width: 300px;
   margin-top: -30px;
   margin-left: 0;
}

@media (min-width: 550px) {
   .footer-social {
      float: right;
      text-align: right;
   }
   .footer-links {
      text-align: right;
   }
   .footer-subscribe {
      margin-left: 30px;
   }
   .footer-contact {
      overflow: hidden;
      h1,
      h2,
      h3,
      h4 {
         margin-top: 10px;
      }
   }
}

@include min-tablet {
   .footer {
      padding-top: 60px;
      padding-bottom: 45px;
   }
}

@include min-desktop {
   .footer {
      padding-left: 0;
      padding-right: 0;
   }
}