@import '_core.scss';
body {
   font-family: 'Open Sans', Helvetica, sans-serif;
   font-size: 14px;
   color: #444;
   margin: 0;
   overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
   margin-top: 20px;
   margin-bottom: 10px;
   font-family: $header-font-family;
   font-weight: bold;
   color: #333;
   line-height: 1.1;
}

h1 {
   font-size: 30px;
}

h2 {
   font-size: 25px;
}

h3 {
   font-size: 21px;
}

h4 {
   font-size: 18px;
}

a {
   text-decoration: none;
   font-weight: bold;
   color: $green;
   &:hover {
      color: #000;
      text-decoration: none;
   }
}

blockquote {
   background: #ebebeb;
   border-bottom: 1px solid #bbb;
   margin: 3px 0;
   margin-bottom: 6px;
   padding: 12px 16px;
   p:first-child {
      margin-top: 0;
   }
   p:last-child {
      margin-bottom: 0;
   }
}

iframe {
   max-width: 100%;
}

.text-light {
   color: #888;
}

.text-light-green {
   color: $faded-green;
}

.container {
   @include clear-after;
   margin: auto;
   padding: 0 10px;
}

.small-button {
   @include button-primary;
   padding: 7px;
   text-align: center;
   margin-top: 3px;
   border-radius: 5px;
   font-size: 17px;
   width: 96px;
}

.donate-button {
   width: 135px;
   background: #0072d6;
   &:hover,
   &:focus {
      background: #0065bd;
   }
}

.fb-like {
   vertical-align: bottom;
   margin-right: 30px;
}

.fb-page, .fb-page iframe[style], .fb-page span {
    width: 100% !important;
}

.image-block {
   background: #ebebeb;
   text-align: center;
}

h2[id]:before {
   display: block;
   content: " ";
   visibility: hidden;
   margin-top: -49px;
   height: 49px;
}

@include min-tablet {
   body {
      font-size: 15px;
   }
   h1 {
      font-size: 36px;
   }
   h2 {
      font-size: 30px;
   }
   h3 {
      font-size: 24px;
   }
   h4 {
      font-size: 18px;
   }
   .container {
      padding: 0 15px;
   }
   .has-double-header h2[id]:before {
      margin-top: -88px;
      height: 88px;
   }
}

@include min-desktop {
   .container {
      max-width: 1000px;
   }
}
