@import '_core.scss';
body {
   font-family: 'Open Sans', Helvetica, sans-serif;
   font-size: 14px;
   color: #444;
   margin: 0;
   overflow-x: hidden;
}

p {
   font-size: 15px;
   line-height: 1.6;
}

h1,
h2,
h3,
h4 {
   margin-top: 32px;
   margin-bottom: 18px;
   font-family: $header-font-family;
   font-weight: bold;
   color: #333;
   line-height: 1.1;
}

h1 {
   font-size: 32px;
}

h2 {
   font-size: 28px;
}

h3 {
   font-size: 24px;
}

h4 {
   font-size: 20px;
}

a {
   text-decoration: none;
   font-weight: bold;
   color: $green;
   &:hover {
      color: #000;
      text-decoration: none;
   }
}

blockquote {
   background: #ebebeb;
   border-bottom: 1px solid #bbb;
   margin: 6px 0;
   padding: 12px 16px;
   p:first-child {
      margin-top: 0;
   }
   p:last-child {
      margin-bottom: 0;
   }
}

iframe {
   max-width: 100%;
}

.text-light {
   color: #888;
}

.text-light-green {
   color: $faded-green;
}

.container {
   @include clear-after;
   margin: auto;
   padding: 0 10px;
}

.small-button {
   @include button-primary;
   padding: 7px;
   margin-top: 3px;
   border-radius: 5px;
   font-size: 17px;
   width: 96px;
}

.schoolmint-form {
   padding: 10px;
   background: #e8e8e8;
}

@mixin donate-button {
   background: #0072d6;
   &:hover,
   &:focus {
      background: #0065bd;
   }
}

.footer-donate-button {
   @include donate-button;
   width: 135px;
}

.page-donate-button {
   @include button-primary;
   @include donate-button;
   width: 190px;
   padding: 12px 0;
   margin-top: 12px;
}

.image-block {
   background: #ebebeb;
   text-align: center;
}

h2[id]:before, h3[id]:before {
   display: block;
   content: " ";
   visibility: hidden;
   margin-top: -49px;
   height: 49px;
}

@include min-tablet {
   body {
      font-size: 15px;
   }
   p {
      font-size: 16px;
   }
   h1 {
      font-size: 36px;
   }
   h2 {
      font-size: 32px;
   }
   h3 {
      font-size: 26px;
   }
   h4 {
      font-size: 22px;
   }
   .container {
      padding: 0 15px;
   }
   .has-double-header {
      h2[id]:before, h3[id]:before {
         margin-top: -88px;
         height: 88px;
      }
   }
   .has-triple-header {
      h2[id]:before, h3[id]:before {
         margin-top: -136px;
         height: 136px;
      }
   }
}

@include min-desktop {
   .container {
      max-width: 1000px;
   }
}

.tuition-table {
   border-collapse: collapse;
   border: 1px solid #bbb;

   th {
      text-align: left;
   }

   th, td {
      padding: 7px 11px;
      border-left: 1px solid #bbb;
      white-space: nowrap;
   }

   tr:nth-child(even) {
      background: #eaeaea;
   }
}