.main-masthead-wrapper,
.sub-masthead-wrapper {
  height: 43px; }

.sub-masthead-wrapper {
  display: none; }

.main-masthead,
.sub-masthead {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
  position: fixed;
  width: 100%; }

.nav-divider {
  position: fixed;
  width: 100%;
  z-index: 100000;
  box-shadow: 0 0 2px 1px #fff; }

.main-masthead {
  background: #222;
  z-index: 100002; }
  .main-masthead .header-menu {
    float: right; }

.sub-masthead {
  background: #4D744A;
  z-index: 100001; }
  .sub-masthead.second {
    background: #808080; }
  .sub-masthead.glow {
    box-shadow: 0 0 1px 1px #fff;
    z-index: 100000; }
  .sub-masthead nav {
    margin-left: -5px; }
    .sub-masthead nav .header-menu-item a {
      padding-left: 11px;
      padding-right: 11px; }

.main-masthead-wrapper nav .header-logo,
.sub-masthead-wrapper nav .header-logo {
  display: inline-block;
  margin-top: 5px; }
.main-masthead-wrapper nav .header-hamburger, .main-masthead-wrapper nav .header-search-activator,
.sub-masthead-wrapper nav .header-hamburger,
.sub-masthead-wrapper nav .header-search-activator {
  float: right;
  color: #fff;
  padding-top: 7px;
  padding-right: 4px;
  padding-left: 12px; }
.main-masthead-wrapper nav .header-hamburger,
.sub-masthead-wrapper nav .header-hamburger {
  font-size: 22px; }
.main-masthead-wrapper nav .header-search-activator,
.sub-masthead-wrapper nav .header-search-activator {
  font-size: 19px;
  z-index: 1;
  position: relative; }
.main-masthead-wrapper nav .header-menu,
.sub-masthead-wrapper nav .header-menu {
  display: none;
  padding: 0;
  margin: 0 -10px;
  width: calc(100% + 20px);
  background: #444; }
  .main-masthead-wrapper nav .header-menu.visible,
  .sub-masthead-wrapper nav .header-menu.visible {
    display: block; }
.main-masthead-wrapper nav .header-menu-item,
.sub-masthead-wrapper nav .header-menu-item {
  border-top: 1px solid #2d2d2d; }
  .main-masthead-wrapper nav .header-menu-item.expanded .header-context-menu,
  .sub-masthead-wrapper nav .header-menu-item.expanded .header-context-menu {
    display: block; }
  .main-masthead-wrapper nav .header-menu-item a,
  .sub-masthead-wrapper nav .header-menu-item a {
    padding: 10px 12px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    display: block;
    width: 100%;
    font-size: 110%;
    text-transform: uppercase; }
    .main-masthead-wrapper nav .header-menu-item a:hover, .main-masthead-wrapper nav .header-menu-item a:focus,
    .sub-masthead-wrapper nav .header-menu-item a:hover,
    .sub-masthead-wrapper nav .header-menu-item a:focus {
      color: #8FEA8A;
      text-decoration: none; }
.main-masthead-wrapper nav .header-context-menu,
.sub-masthead-wrapper nav .header-context-menu {
  display: none;
  padding: 0;
  background: #5d5d5d; }
.main-masthead-wrapper nav .header-context-menu-item,
.sub-masthead-wrapper nav .header-context-menu-item {
  display: block;
  border-top: 1px solid #444;
  padding-left: 12px; }
  .main-masthead-wrapper nav .header-context-menu-item a,
  .sub-masthead-wrapper nav .header-context-menu-item a {
    display: block;
    width: 100%; }

.header-search-area {
  display: none;
  background: #444;
  margin: 0 -10px;
  padding: 11px;
  color: #fff;
  text-align: right; }
  .header-search-area.visible {
    display: block; }

@media (min-width: 835px) {
  .sub-masthead-wrapper {
    display: block; }

  .main-masthead nav {
    margin: 0 -8px; }

  .main-masthead nav .header-menu-item a {
    padding-left: 3.8px;
    padding-right: 3.8px; }

  .main-masthead-wrapper nav .header-menu,
  .sub-masthead-wrapper nav .header-menu {
    display: block;
    margin: 0;
    width: auto;
    background: none; }
  .main-masthead-wrapper nav .header-menu-item,
  .sub-masthead-wrapper nav .header-menu-item {
    position: relative;
    display: inline-block;
    border: none; }
    .main-masthead-wrapper nav .header-menu-item.has-children:hover:after,
    .sub-masthead-wrapper nav .header-menu-item.has-children:hover:after {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 0;
      margin-left: -5px;
      vertical-align: middle;
      content: " ";
      border-right: 5px solid transparent;
      border-bottom: 5px solid #fff;
      border-left: 5px solid transparent; }
    .main-masthead-wrapper nav .header-menu-item a,
    .sub-masthead-wrapper nav .header-menu-item a {
      display: block; }
  .main-masthead-wrapper nav .header-current-menu-item:after,
  .sub-masthead-wrapper nav .header-current-menu-item:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    border-left: 5px solid transparent; }
  .main-masthead-wrapper nav .header-current-menu-item.has-children:after,
  .sub-masthead-wrapper nav .header-current-menu-item.has-children:after {
    border-bottom-color: #4D744A; }
  .main-masthead-wrapper nav .header-context-menu,
  .sub-masthead-wrapper nav .header-context-menu {
    display: none;
    position: absolute;
    min-width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #fff;
    background: none; }
    .main-masthead-wrapper nav .header-context-menu.visible,
    .sub-masthead-wrapper nav .header-context-menu.visible {
      display: block; }
  .main-masthead-wrapper nav .header-2nd-context-menu,
  .sub-masthead-wrapper nav .header-2nd-context-menu {
    z-index: -1; }
    .main-masthead-wrapper nav .header-2nd-context-menu .header-context-menu-item,
    .sub-masthead-wrapper nav .header-2nd-context-menu .header-context-menu-item {
      padding-left: 3px;
      margin-left: -1px; }
  .main-masthead-wrapper nav .header-context-menu-item,
  .sub-masthead-wrapper nav .header-context-menu-item {
    position: relative;
    background: #fff;
    text-align: left;
    white-space: nowrap;
    padding: 0;
    border: 1px solid #fff;
    border-bottom: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.35); }
    .main-masthead-wrapper nav .header-context-menu-item.has-children:hover:after,
    .sub-masthead-wrapper nav .header-context-menu-item.has-children:hover:after {
      position: absolute;
      right: -6px;
      top: 50%;
      width: 0;
      height: 0;
      margin-top: -6px;
      content: " ";
      border-top: 6px solid transparent;
      border-left: 6px solid #fff;
      border-bottom: 6px solid transparent; }
    .main-masthead-wrapper nav .header-context-menu-item.has-children:hover:before,
    .sub-masthead-wrapper nav .header-context-menu-item.has-children:hover:before {
      position: absolute;
      right: -8px;
      top: 50%;
      width: 0;
      height: 0;
      margin-top: -8px;
      content: " ";
      border-top: 8px solid transparent;
      border-left: 8px solid #ccc;
      border-bottom: 8px solid transparent; }
    .main-masthead-wrapper nav .header-context-menu-item a,
    .sub-masthead-wrapper nav .header-context-menu-item a {
      display: inline-block;
      color: #444;
      text-shadow: none;
      padding: 7px 10px; }
      .main-masthead-wrapper nav .header-context-menu-item a:hover,
      .sub-masthead-wrapper nav .header-context-menu-item a:hover {
        color: #009102; }
  .main-masthead-wrapper nav .header-hamburger,
  .sub-masthead-wrapper nav .header-hamburger {
    display: none; }
  .main-masthead-wrapper nav .header-search-activator:hover,
  .sub-masthead-wrapper nav .header-search-activator:hover {
    color: #8FEA8A;
    cursor: pointer; }
  .main-masthead-wrapper nav .nav-divider,
  .sub-masthead-wrapper nav .nav-divider {
    display: none; }
    .main-masthead-wrapper nav .nav-divider.no-sub-header,
    .sub-masthead-wrapper nav .nav-divider.no-sub-header {
      display: block; } }
@media (min-width: 895px) {
  .main-masthead nav .header-menu-item a {
    padding-left: 7px;
    padding-right: 7px; } }
@media (min-width: 992px) {
  .main-masthead nav {
    margin: 0; }

  .sub-masthead nav .header-menu-item a {
    padding-left: 15px;
    padding-right: 15px; }

  .main-masthead nav .header-menu-item a {
    padding-left: 10px;
    padding-right: 10px; } }

/*# sourceMappingURL=_header.css.map */
