@import '_core.scss';
$call-to-action-width: 290px;
.home-banner {
   background: #000;
   position: relative;
   img {
      display: block;
      width: 100%;
      max-width: 1400px;
      margin: auto;
   }
}

.home-logo {
   display: block;
   margin: 20px auto;
   margin-bottom: 0;
   width: 96%;
   max-width: 800px;
}

.home-banner-desktop,
.home-logo-desktop {
   display: none;
}

.home-tagline {
   width: 96%;
   max-width: 600px;
   margin: 20px auto;
   font-size: 15.5px;
   h2 {
      font-size: 25px;
   }
}

.home-tagline-desktop {
   display: none;
}

.home-middle {
   margin-top: 30px;
}

.home-middle-texts {
   margin: 0 auto;
   margin-bottom: 25px;
   max-width: 570px;
}

.home-apply {
   max-width: 230px;
   padding: 20px 30px;
   background: $light-light-green;
   border-bottom: 1px solid #8bad84;
   font-size: 16.5px;
}

.home-apply-button {
   @include button-primary;
   display: block;
   margin-top: 10px;
   padding: 12px;
}

.home-subscribe {
   font-size: 17px;
   padding-top: 20px;
   label {
      display: block;
   }
   input.email {
      margin: 6px 0;
      padding: 6px;
      font-size: 0.9em;
   }
   button {
      padding: 0 12px;
      font-family: $header-font-family;
      font-size: 40px;
      background: #555;
      color: #fff;
      border: none;
      line-height: 0.78;
      padding-bottom: 5px;
      vertical-align: middle;
      cursor: pointer;
      &:hover {
         background: #222;
      }
   }
}

.home-testimonial {
   display: none;
}

.home-middle-image {
   overflow: hidden;
}

.home-subbanners {
   margin-bottom: 40px;
}

.home-subbanner {
   @include clear-after;
   margin-bottom: 20px;
   position: relative;
   a {
      display: inline-block;
   }
}

.home-subbanner-image {
   img {
      width: 100%;
      height: auto;
   }
}

.home-subbanner-caption {
   font-size: 15px;
   h2,
   h3 {
      margin-top: 10px;
      font-size: 25px;
      font-family: $stylized-font-family;
      text-transform: lowercase;
   }
}

@media (min-width: 400px) {
   .home-tagline {
      font-size: 17px;
      h2 {
         font-size: 28px;
      }
   }
}

@media (min-width: 500px) {
   .home-logo {
      margin-top: 30px;
   }
   .home-logo-mobile {
      display: none;
   }
   .home-logo-desktop {
      display: block;
   }
}

@media (min-width: 540px) {
   .home-middle-texts {
      @include clear-after;
   }
   .home-calls-to-action {
      float: left;
      padding-right: 30px;
      width: $call-to-action-width;
   }
   .home-testimonial {
      display: block;
      overflow: hidden;
   }
   .home-testimonial-attribution {
      margin-top: 10px;
   }
}

@media (min-width: 600px) {
   .home-tagline {
      font-size: 19px;
      margin: 40px auto;
   }
   .home-middle-texts {
      margin-bottom: 40px;
   }
}

@include min-tablet {
   .home-logo {
      margin-top: 40px;
   }
   .home-banner-mobile {
      display: none;
   }
   .home-banner-desktop {
      display: block;
   }
   .home-tagline {
      p {
         text-align: justify;
      }
   }
   .home-tagline-mobile {
      display: none;
   }
   .home-tagline-desktop {
      display: block;
   }
   .home-middle {
      margin-top: 40px;
   }
   .home-subbanner-image {
      &.home-subbanner-image-2 {
         width: 60%;
         float: left;
      }
   }
   .home-subbanner-caption-1,
   .home-subbanner-caption-3 {
      background: #fff;
      position: absolute;
      width: 40%;
      padding: 15px;
      box-shadow: -2px 3px 4px #222;
      h2,
      h3 {
         margin-top: 0;
      }
   }
   .home-subbanner-caption-1 {
      top: 20px;
      left: 20px;
      width: 42%;
   }
   .home-subbanner-caption-2 {
      position: auto;
      overflow: hidden;
      padding: 0 30px;
      padding-top: 15px;
   }
   .home-subbanner-caption-3 {
      top: 45px;
      right: 25px;
      width: calc(600px - 20%);
   }
}

@media (min-width: 900px) {
   .home-subbanners {
      margin-bottom: 60px;
   }
   .home-subbanner-caption {
      font-size: 16px;
      &.home-subbanner-caption-2 {
         padding-top: 30px;
      }
      &.home-subbanner-caption-3 {
         top: 60px;
      }
      h2,
      h3 {
         font-size: 30px;
      }
   }
}

@include min-desktop {
   .home-middle {
      @include clear-after;
      margin-top: 70px;
      margin-bottom: 20px;
   }
   .home-middle-texts {
      float: left;
      padding-right: 30px;
      margin-bottom: 0;
      width: $call-to-action-width;
   }
   .home-calls-to-action {
      padding: 0;
      float: none;
   }
   .home-testimonial {
      margin-top: 20px;
   }
}

@media (min-width: 1020px) {
   .home-testimonial {
      background: $light-light-green;
      border-bottom: 1px solid #8bad84;
      padding: 10px 15px;
   }
}
