@import '_core.scss';
.home {
   a {
      display: inline-block;
   }
}

.home-banner {
   background: #000;
   img {
      display: block;
      width: 100%;
      max-width: 1400px;
      margin: auto;
   }
}

.home-logo {
   display: block;
   margin-top: 20px;
   width: 100%;
}

.home-banner-desktop, .home-logo-desktop {
   display: none;
}

.home-tagline {
   margin-top: 20px;
   margin-bottom: 40px;
   font-family: $stylized-font-family;
   font-weight: bold;
   font-size: 19px;
   p {
      margin: 14px 0;
   }
   .icon {
      margin-right: 5px;
      vertical-align: middle;
      font-size: 1.1em;
   }
   em {
      font-style: normal;
      &.style1 {
         color: $dark-green;
      }
      &.style2 {
         color: #00597A;
      }
      &.style3 {
         color: #400089;
      }
   }
}

.home-announcement {
   padding: 16px 20px;
   margin-bottom: 20px;
   background: $note-background;
   border-bottom: 1px solid #aaa;
   font-family: $stylized-font-family;
   font-weight: bold;
   font-size: 18px;
}

.home-side-item {
   @include clear-after;
   margin-top: 20px;
   margin-bottom: 30px;
   img {
      width: 100%;
      height: auto;
   }
}

.home-testimonial {
   position: relative;
   margin-left: 10px;
   margin-bottom: 15px;
   padding: 10px;
   padding-left: 34px;
   padding-bottom: 0;
   background: $light-light-green;
   border-bottom: 1px solid #B2D3AB;
   p {
      margin: 0.7em 0;
   }
}

.home-testimonial-quote {
   position: absolute;
   left: -9px;
   top: 20px;
   color: #A0DD8B;
   text-shadow: 1px 1px 1px #3D6033;
   font-size: 2em !important;
}

.home-subbanner {
   margin-bottom: 30px;
   img {
      width: 100%;
      height: auto;
   }
   h1,
   h2,
   h3,
   h4 {
      margin-top: 10px;
   }
}

@media (min-width: 400px) {
   .home-tagline {
      margin-left: 10px;
   }
}

@media (min-width: 500px) {
   .home-logo {
      margin-top: 15px;
   }
   .home-logo-mobile {
      display: none;
   }
   .home-logo-desktop {
      display: block;
   }
}

@media (min-width: 600px) {
   .home-tagline {
      font-size: 17.5px;
      p {
         margin: 9px 0;
      }
   }
   .home-side-item {
      img {
         float: left;
         width: 50%;
      }
      .caption {
         overflow: hidden;
         padding-left: 20px;
         width: 30%;
      }
   }
   .home-subbanners {
      margin-left: -1.6%;
      margin-right: -3.2%;
   }
   .home-subbanner {
      float: left;
      width: 29.3%;
      padding: 0 1.8%;
   }
}

@include min-tablet {
   .home-logo {
      margin-top: 25px;
      margin-left: 10px;
      margin-right: 10px;
      width: calc(100% - 20px);
   }
   .home-banner-mobile {
      display: none;
   }
   .home-banner-desktop {
      display: block;
   }
   .home-tagline {
      margin-left: 20px;
      font-size: 18.5px;
   }
   .home-video {
      float: left;
      iframe {
         width: 470px !important;
         height: 267px !important;
      }
   }
   .home-side-item {
      margin: 0;
      overflow: hidden;
      padding-left: 24px;
      img {
         float: none;
         width: 100%;
      }
      .caption {
         overflow: auto;
         padding: 0;
         width: auto;
      }
   }
   .home-testimonial-2 {
      display: none;
   }
   .home-subbanners-wrapper {
      margin: 30px 0;
   }
}

@media (min-width: 900px) {
   .home-tagline {
      margin-left: 40px;
      font-size: 20px;
   }
   .home-video iframe {
      width: 540px !important;
      height: 307px !important;
   }
   .home-testimonial-2 {
      display: block;
   }
}

@include min-desktop {
   .home-logo {
      margin-left: 50px;
      margin-right: 50px;
      width: calc(100% - 100px);
   }
   .home-tagline {
      margin-left: 70px;
      font-size: 22px;
   }
   .home-video iframe {
      width: 653px !important;
      height: 371px !important;
   }
   .home-side-item {
      padding-left: 30px;
   }
}
