@import '_core.scss';
.page {
   margin: auto;
   margin-top: 30px;
   margin-bottom: 20px;
   max-width: 700px;
   img {
      width: 100% !important;
      height: auto !important;
   }
   .container-for-small-images img {
      width: auto !important;
   }
   ul {
      padding-left: 25px;
   }
   li {
      margin-bottom: 5px;
   }
}

.page-wide {
   max-width: none;
}

.page-title, .post-title {
   text-align: center;
   padding-top: 15px;
}

.page-title {
   padding-bottom: 35px;
   border-bottom: 1px solid #ddd;
}

.post-title {
   font-size: 30px;
}

blockquote.post-meta {
   background: none;
   border-bottom: 1px solid #ddd;
   text-align: center;
   padding-bottom: 25px;
}

.page-table-of-contents {
   background: #ebebeb;
   border-bottom: 1px solid #bbb;
   padding: 6px 22px;
   h3 {
      margin-top: 12px;
      font-weight: normal;
   }
   ul {
      margin-top: 0;
      padding-left: 20px;
   }
   li {
      margin: 8px 0;
   }
}

.page-staff-bio p, .page-profile-bio p {
   margin-top: 4px;
}

@include min-tablet {
   .page {
      margin-bottom: 40px;
   }
   .page-staff, .page-profile {
      @include clear-after;
      margin-bottom: 24px;
   }
   .page-staff-pic {
      float: left;
   }
   .page-staff-bio {
      overflow: hidden;
      padding-left: 18px;
      p {
         margin: 0;
      }
   }
   .page-profile-bio {
      float: right;
      width: 500px;
      padding-left: 18px;
   }
   .page-profile-pic {
      overflow: hidden;
   }
}

@include min-desktop {
   .page {
      .image-block.left {
         width: 50%;
         float: left;
         margin-right: 15px;
      }
      .image-block.right {
         width: 50%;
         float: right;
         margin-left: 15px;
      }
   }
   .page-title, .post-title {
      margin-top: 30px;
   }
   .page {
      margin-bottom: 60px;
   }
   .page-table-of-contents {
      li {
         margin: 3px 0;
      }
   }
}
