@import '_core.scss';
.search-result {
   margin-top: 25px;
   h2 {
      margin: 5px 0;
      font-size: 25px;
   }
   p {
      margin: 5px 0;
   }
   .entry-subtitle {
      display: none;
   }
}

.search-form .screen-reader-text {
   display: none;
   @media (min-width: 935px) {
      display: inline;
   }
}

.search-no-results {
   margin-top: 20px;
}