@import '_variables.scss';
.home {
   a {
      display: inline-block;
   }
}

.home-narrow-container {
   margin: auto;
   width: 660px;
}

.home-title {
   margin-top: 50px;
   text-align: center;
   h2 {
      margin-top: 40px;
      font-family: $header-font-family;
      font-size: 32px;
   }
   p {
      color: #222;
      font-size: 18px;
      text-align: justify;
   }
}

.home-video {
   float: left;
   iframe {
      width: 653px !important;
      height: 371px !important;
   }
}

.home-side-item {
   overflow: hidden;
   width: calc(100% - 66%);
   
   .home-subbanner {
      width: auto;
      padding: 0;
      padding-left: 30px;
   }
}

.home-announcements {
   margin-top: 40px;
   margin-bottom: 50px;
}

.home-announcement-banner {
   margin: 10px 0;
   padding: 2px 0;
   background: #d4ffd1;
}

.home-announcement {
   display: table;
   width: 100%;
   border-spacing: 16px 0;
   margin-left: -16px;
}

.home-announcement-icon {
   display: table-cell;
   font-size: 40px;
   color: #79e371;
   vertical-align: middle;
   width: 1px;
}

.home-announcement-content {
   display: table-cell;
   font-size: 16px;
   color: #000;
   vertical-align: middle;
}

.home-subbanners-wrapper {
   margin-bottom: 60px;
   margin-top: 30px;
}

.home-subbanners {
   margin-left: -1.6%;
   margin-right: -3.2%;
}

.home-subbanner {
   float: left;
   text-align: center;
   width: 29.3%;
   padding: 0 1.8%;
   img {
      width: 100%;
   }
   .caption {
      margin-top: 15px;
      text-align: left;
   }
}
