@import '_variables.scss';

.home {
   a {
      display: inline-block;
   }
}

.home-title {
   margin: auto;
   max-width: 660px;
   margin-top: 50px;
   margin-bottom: 80px;
   text-align: center;
   h2 {
      margin-top: 40px;
      font-family: $header-font-family;
      font-size: 32px;
   }
   p {
      font-size: 18px;
      text-align: justify;
      strong {
         color: #000;
         font-weight: normal;
      }
   }
}

.home-video {
   float: left;
   iframe {
      width: 660px !important;
      height: 371px !important;
   }
}

.home-announcements {
   overflow: hidden;
}

.home-announcement {
   margin-left: 32px;
   margin-bottom: 20px;
   font-size: 16px;
   h1,
   h2,
   h3,
   h4 {
      background: $header-background-light;
      text-shadow: 1px 1px 1px #000;
      color: #fff;
      padding: 7px 10px;
      text-transform: uppercase;
      margin-top: 0;
   }
}

.home-subbanners-wrapper {
   margin-bottom: 60px;
   margin-top: 30px;
}

.home-subbanners {
   margin-left: -1.6%;
   margin-right: -3.2%;
}

.home-subbanner {
   float: left;
   text-align: center;
   width: 29.3%;
   padding: 0 1.8%;
   img {
      width: 100%;
   }
   .caption {
      margin-top: 15px;
      text-align: left;
   }
}
