@import '_core.scss';
.page {
   margin-top: 20px;
   margin-bottom: 40px;
   @include min-desktop {
      margin-top: 30px;
      margin-bottom: 60px;
   }
}

.page-title {
   margin-bottom: 20px;
   font-size: 40px;
}
