.blog-excerpt-container {
  margin-top: 35px; }

.blog-share-facebook {
  font-size: 32px;
  color: #3b5996; }

.blog-share-email {
  font-size: 32px;
  display: inline;
  color: #888; }

.blog-paginator {
  padding-top: 30px; }
  .blog-paginator ul {
    padding: 0;
    margin: 0; }
    .blog-paginator ul li {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 8px; }
      .blog-paginator ul li a {
        display: inline-block;
        border: 1px solid #999;
        border-radius: 8px;
        padding: 12px 16px;
        color: #333;
        box-shadow: -2px 2px 2px #bbb; }
        .blog-paginator ul li a:hover, .blog-paginator ul li a:focus {
          background: #eee;
          color: #000; }

.comments-area {
  border-top: 1px solid #aaa;
  margin-top: 30px;
  padding-top: 10px; }

.comment-list {
  padding-left: 0; }

.comment {
  display: block; }

.comment-author cite {
  font-style: normal; }

.contact-us-table {
  border-spacing: 10px;
  margin-left: -10px;
  width: 100%; }
  .contact-us-table th {
    text-align: left;
    background: #e9e9e9;
    padding: 0 12px;
    width: 1px;
    font-size: 13px;
    white-space: nowrap; }
  .contact-us-table input {
    width: 100%;
    max-width: 360px; }
  .contact-us-table textarea {
    width: 100%; }
  .contact-us-table input,
  .contact-us-table textarea {
    padding: 8px;
    font-size: inherit; }

.contact-us-send {
  background: #009102;
  color: #fff;
  padding: 12px 60px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer; }
  .contact-us-send:hover, .contact-us-send:focus {
    background: #007A02; }

.contact-us-success,
.contact-us-error {
  padding: 7px 10px; }

.contact-us-success {
  background: #DCF7D7;
  border: 1px solid #8FEA8A;
  color: #007A02; }

.contact-us-error {
  background: #ffd2d1;
  border: 1px solid #e88989;
  color: #780000; }

@media (min-width: 768px) {
  .contact-us-table th {
    font-size: 14.5px; } }
.footer {
  background: #333;
  color: #aaa;
  padding: 30px 15px; }

.footer-contact h1,
.footer-contact h2,
.footer-contact h3,
.footer-contact h4,
.footer-contact h5 {
  color: #ccc;
  text-transform: uppercase; }
.footer-contact a {
  color: #ccc; }
  .footer-contact a:hover, .footer-contact a:focus {
    color: #8FEA8A; }

.footer-social {
  text-align: right;
  margin-right: 10px;
  margin-bottom: 40px; }
  .footer-social .social-link {
    color: #ddd;
    font-size: 32px;
    display: inline-block;
    margin: 0 7px; }
    .footer-social .social-link:hover, .footer-social .social-link:focus {
      color: #8FEA8A;
      text-decoration: none; }

@media (min-width: 550px) {
  .footer-social {
    float: right; }

  .footer-contact {
    overflow: hidden; }
    .footer-contact h1,
    .footer-contact h2,
    .footer-contact h3,
    .footer-contact h4 {
      margin-top: 10px; } }
@media (min-width: 768px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 45px; } }
@media (min-width: 992px) {
  .footer {
    padding-left: 0;
    padding-right: 0; } }
body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  color: #444;
  margin: 0;
  overflow-x: hidden; }

h1,
h2,
h3,
h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: #333;
  line-height: 1.1; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 25px; }

h3 {
  font-size: 21px; }

h4 {
  font-size: 18px; }

a {
  text-decoration: none;
  font-weight: bold;
  color: #009102; }
  a:hover {
    color: #000;
    text-decoration: none; }

blockquote {
  background: #ebebeb;
  border-bottom: 1px solid #bbb;
  margin: 0;
  padding: 12px 16px; }

iframe {
  max-width: 100%; }

.text-light {
  color: #888; }

.text-light-green {
  color: #288529; }

.container {
  margin: auto;
  padding: 0 10px; }
  .container:after {
    clear: both;
    display: table;
    content: ' '; }

h2[id]:before {
  display: block;
  content: " ";
  visibility: hidden;
  margin-top: -49px;
  height: 49px; }

@media (min-width: 768px) {
  body {
    font-size: 15px; }

  h1 {
    font-size: 36px; }

  h2 {
    font-size: 30px; }

  h3 {
    font-size: 24px; }

  h4 {
    font-size: 18px; }

  .container {
    padding: 0 15px; }

  .has-double-header h2[id]:before {
    margin-top: -88px;
    height: 88px; } }
@media (min-width: 992px) {
  .container {
    max-width: 1000px; } }
.main-masthead-wrapper,
.sub-masthead-wrapper {
  height: 39px; }

.sub-masthead-wrapper {
  display: none; }

.main-masthead,
.sub-masthead {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  position: fixed;
  width: 100%; }

.nav-divider {
  position: fixed;
  width: 100%;
  z-index: 100000;
  box-shadow: 0 0 2px 1px #fff; }

.main-masthead {
  background: url(/wp-content/themes/theopenschool/images/green-dark.png), #2D562A;
  z-index: 100002; }
  .main-masthead .header-menu {
    float: right; }

.sub-masthead {
  background: url(/wp-content/themes/theopenschool/images/green-light.png), #4D744A;
  box-shadow: 0 0 1px 1px #fff;
  z-index: 100001; }
  .sub-masthead nav {
    margin-left: -5px; }
    .sub-masthead nav .header-menu-item a {
      padding-left: 11px;
      padding-right: 11px; }

.main-masthead-wrapper nav .header-logo,
.sub-masthead-wrapper nav .header-logo {
  display: inline-block;
  margin-top: 5px; }
.main-masthead-wrapper nav .header-hamburger,
.sub-masthead-wrapper nav .header-hamburger {
  float: right;
  color: #fff;
  padding-top: 8px;
  padding-right: 4px;
  font-size: 22px; }
.main-masthead-wrapper nav .header-menu,
.sub-masthead-wrapper nav .header-menu {
  display: none;
  padding: 0;
  margin: 0 -10px;
  width: calc(100% + 20px);
  background: #444; }
  .main-masthead-wrapper nav .header-menu.visible,
  .sub-masthead-wrapper nav .header-menu.visible {
    display: block; }
.main-masthead-wrapper nav .header-menu-item,
.sub-masthead-wrapper nav .header-menu-item {
  border-top: 1px solid #2d2d2d; }
  .main-masthead-wrapper nav .header-menu-item.expanded .header-context-menu,
  .sub-masthead-wrapper nav .header-menu-item.expanded .header-context-menu {
    display: block; }
  .main-masthead-wrapper nav .header-menu-item a,
  .sub-masthead-wrapper nav .header-menu-item a {
    padding: 10px 12px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    display: block;
    width: 100%;
    font-size: 105%;
    text-transform: uppercase; }
    .main-masthead-wrapper nav .header-menu-item a:hover, .main-masthead-wrapper nav .header-menu-item a:focus,
    .sub-masthead-wrapper nav .header-menu-item a:hover,
    .sub-masthead-wrapper nav .header-menu-item a:focus {
      color: #8FEA8A;
      text-decoration: none; }
.main-masthead-wrapper nav .header-context-menu,
.sub-masthead-wrapper nav .header-context-menu {
  display: none;
  padding: 0;
  background: #5d5d5d; }
.main-masthead-wrapper nav .header-context-menu-item,
.sub-masthead-wrapper nav .header-context-menu-item {
  display: block;
  border-top: 1px solid #444;
  padding-left: 12px; }
  .main-masthead-wrapper nav .header-context-menu-item a,
  .sub-masthead-wrapper nav .header-context-menu-item a {
    display: block;
    width: 100%; }

@media (min-width: 768px) {
  .sub-masthead-wrapper {
    display: block; }

  .main-masthead nav {
    margin: 0 -8px; }

  .main-masthead nav .header-menu-item a {
    padding-left: 3.8px;
    padding-right: 3.8px; }

  .main-masthead-wrapper nav .header-menu,
  .sub-masthead-wrapper nav .header-menu {
    display: block;
    margin: 0;
    width: auto;
    background: none; }
  .main-masthead-wrapper nav .header-menu-item,
  .sub-masthead-wrapper nav .header-menu-item {
    position: relative;
    display: inline-block;
    border: none; }
    .main-masthead-wrapper nav .header-menu-item.has-children:hover:after,
    .sub-masthead-wrapper nav .header-menu-item.has-children:hover:after {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 0;
      margin-left: -5px;
      vertical-align: middle;
      content: " ";
      border-right: 5px solid transparent;
      border-bottom: 5px solid #fff;
      border-left: 5px solid transparent; }
    .main-masthead-wrapper nav .header-menu-item a,
    .sub-masthead-wrapper nav .header-menu-item a {
      display: block; }
  .main-masthead-wrapper nav .header-current-menu-item:after,
  .sub-masthead-wrapper nav .header-current-menu-item:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    border-left: 5px solid transparent; }
  .main-masthead-wrapper nav .header-current-menu-item.has-children:after,
  .sub-masthead-wrapper nav .header-current-menu-item.has-children:after {
    border-bottom-color: #658764; }
  .main-masthead-wrapper nav .header-context-menu,
  .sub-masthead-wrapper nav .header-context-menu {
    display: none;
    position: absolute;
    min-width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #fff;
    background: none; }
    .main-masthead-wrapper nav .header-context-menu.visible,
    .sub-masthead-wrapper nav .header-context-menu.visible {
      display: block; }
  .main-masthead-wrapper nav .header-context-menu-item,
  .sub-masthead-wrapper nav .header-context-menu-item {
    background: #fff;
    text-align: left;
    white-space: nowrap;
    padding: 0;
    border: 1px solid #fff;
    border-bottom: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.35); }
    .main-masthead-wrapper nav .header-context-menu-item a,
    .sub-masthead-wrapper nav .header-context-menu-item a {
      display: inline-block;
      color: #444;
      text-shadow: none;
      padding: 7px 10px; }
      .main-masthead-wrapper nav .header-context-menu-item a:hover,
      .sub-masthead-wrapper nav .header-context-menu-item a:hover {
        color: #009102; }
  .main-masthead-wrapper nav .header-hamburger,
  .sub-masthead-wrapper nav .header-hamburger {
    display: none; }
  .main-masthead-wrapper nav .nav-divider,
  .sub-masthead-wrapper nav .nav-divider {
    display: none; }
    .main-masthead-wrapper nav .nav-divider.no-sub-header,
    .sub-masthead-wrapper nav .nav-divider.no-sub-header {
      display: block; } }
@media (min-width: 830px) {
  .main-masthead nav .header-menu-item a {
    padding-left: 7px;
    padding-right: 7px; } }
@media (min-width: 992px) {
  .main-masthead nav {
    margin: 0; }

  .sub-masthead nav .header-menu-item a {
    padding-left: 15px;
    padding-right: 15px; }

  .main-masthead nav .header-menu-item a {
    padding-left: 10px;
    padding-right: 10px; } }
.home a {
  display: inline-block; }

.home-narrow-container {
  margin: auto;
  width: 660px;
  max-width: calc(100% - 20px);
  padding: 0 10px; }

.home-title {
  margin-top: 15px;
  text-align: center; }
  .home-title img {
    width: 100%; }
  .home-title p {
    color: #222;
    font-size: 15px;
    text-align: justify; }

.home-logo-desktop {
  display: none; }

.home-announcements {
  margin-top: 30px;
  margin-bottom: 40px; }

.home-announcement-banner {
  margin: 10px 0;
  padding: 2px 0;
  background: #DCF7D7;
  border-bottom: 1px solid #B2D3AB; }

.home-announcement {
  display: table;
  width: 100%;
  border-spacing: 12px 0;
  margin-left: -12px; }

.home-announcement-icon {
  display: table-cell;
  font-size: 36px;
  color: #79e371;
  vertical-align: middle;
  width: 1px; }

.home-announcement-content {
  display: table-cell;
  color: #000;
  vertical-align: middle; }

.home-side-item {
  margin-top: 20px;
  margin-bottom: 30px; }
  .home-side-item:after {
    clear: both;
    display: table;
    content: ' '; }
  .home-side-item img {
    width: 100%;
    height: auto; }

.home-subbanner {
  margin-bottom: 30px; }
  .home-subbanner img {
    width: 100%;
    height: auto; }
  .home-subbanner h1,
  .home-subbanner h2,
  .home-subbanner h3,
  .home-subbanner h4 {
    margin-top: 10px; }

@media (min-width: 400px) {
  .home-title h2 {
    font-size: 22px; } }
@media (min-width: 500px) {
  .home-title {
    margin-top: 30px; }
    .home-title h2 {
      font-size: 30px; }

  .home-logo-mobile {
    display: none; }

  .home-logo-desktop {
    display: block; } }
@media (min-width: 600px) {
  .home-side-item img {
    float: left;
    width: 50%; }
  .home-side-item .caption {
    overflow: hidden;
    padding-left: 20px;
    width: 30%; }

  .home-subbanners {
    margin-left: -1.6%;
    margin-right: -3.2%; }

  .home-subbanner {
    float: left;
    width: 29.3%;
    padding: 0 1.8%; } }
@media (min-width: 768px) {
  .home-title {
    margin-top: 50px; }
    .home-title h2 {
      margin-top: 40px;
      font-size: 32px; }
    .home-title p {
      font-size: 17px; }

  .home-announcements {
    margin-top: 40px;
    margin-bottom: 50px; }

  .home-announcement {
    border-spacing: 16px 0;
    margin-left: -16px; }

  .home-announcement-icon {
    font-size: 40px; }

  .home-announcement-content {
    font-size: 16px; }

  .home-video {
    float: left; }
    .home-video iframe {
      width: 470px !important;
      height: 267px !important; }

  .home-side-item {
    margin: 0;
    overflow: hidden;
    padding-left: 30px; }
    .home-side-item img {
      float: none;
      width: 100%; }
    .home-side-item .caption {
      overflow: auto;
      padding: 0;
      width: auto; }

  .home-subbanners-wrapper {
    margin: 30px 0; } }
@media (min-width: 900px) {
  .home-video iframe {
    width: 540px !important;
    height: 307px !important; } }
@media (min-width: 992px) {
  .home-video iframe {
    width: 653px !important;
    height: 371px !important; } }
@font-face {
  font-family: 'icon';
  src: url("/wp-content/themes/theopenschool/css/fonts/icon/icon.eot");
  src: url("/wp-content/themes/theopenschool/css/fonts/icon/icon.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/theopenschool/css/fonts/icon/icon.woff") format("woff"), url("/wp-content/themes/theopenschool/css/fonts/icon/icon.ttf") format("truetype"), url("/wp-content/themes/theopenschool/css/fonts/icon/icon.svg#roboto_condensedbold") format("svg");
  font-weight: normal;
  font-style: normal; }
.icon {
  display: inline-block;
  font: normal normal normal 14px/1 'icon';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased; }

.icon-twitter:before {
  content: "\f099"; }

.icon-facebook:before {
  content: "\f09a"; }

.icon-facebook-square:before {
  content: "\f082"; }

.icon-pinterest:before {
  content: "\f0d2"; }

.icon-youtube:before {
  content: "\f167"; }

.icon-instagram:before {
  content: "\f16d"; }

.icon-exclamation-circle:before {
  content: "\f06a"; }

.icon-bars:before {
  content: "\f0c9"; }

.icon-envelope:before {
  content: "\f0e0"; }

.page {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 700px; }

.page-wide {
  max-width: none; }

.page-table-of-contents {
  background: #ebebeb;
  border-bottom: 1px solid #bbb;
  padding: 6px 22px; }
  .page-table-of-contents h3 {
    margin-top: 12px;
    font-weight: normal; }
  .page-table-of-contents ul {
    margin-top: 0;
    padding-left: 20px; }
  .page-table-of-contents li {
    line-height: 1.8; }

.page-staff-bio p {
  margin-top: 4px; }

@media (min-width: 768px) {
  .page {
    margin-bottom: 40px; }

  .page-staff {
    margin-bottom: 24px; }
    .page-staff:after {
      clear: both;
      display: table;
      content: ' '; }

  .page-staff-pic {
    float: left; }

  .page-staff-bio {
    overflow: hidden;
    padding-left: 18px; }
    .page-staff-bio p {
      margin: 0; } }
@media (min-width: 992px) {
  .page-title {
    margin-top: 30px; }

  .page {
    margin-bottom: 60px; }

  .page-table-of-contents li {
    line-height: 1.4; } }
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.size-full {
  max-width: 100%;
  height: auto; }

/*# sourceMappingURL=site.css.map */
