.blog-excerpt-container {
  margin-top: 35px; }

.blog-footer:after {
  clear: both;
  display: table;
  content: ' '; }

.blog-share-facebook {
  font-size: 32px;
  color: #3b5996; }

.blog-share-email {
  font-size: 32px;
  display: inline;
  color: #888; }

.blog-paginator {
  padding-top: 30px; }
  .blog-paginator ul {
    padding: 0;
    margin: 0; }
    .blog-paginator ul li {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 8px; }
      .blog-paginator ul li a {
        display: inline-block;
        border: 1px solid #999;
        border-radius: 8px;
        padding: 12px 16px;
        color: #333;
        box-shadow: -2px 2px 2px #bbb; }
        .blog-paginator ul li a:hover, .blog-paginator ul li a:focus {
          background: #eee;
          color: #000; }

.comments-area {
  border-top: 1px solid #aaa;
  margin-top: 30px;
  padding-top: 10px; }

.comment-list {
  padding-left: 0; }

.comment {
  display: block; }

.comment-author cite {
  font-style: normal; }

@media (min-width: 425px) {
  .blog-share {
    float: left; }

  .blog-buttons {
    overflow: hidden;
    text-align: right; }

  .blog-apply {
    display: inline-block;
    padding-right: 30px; }

  .blog-donate {
    display: inline-block; } }
.contact-us-table {
  border-spacing: 10px;
  margin-left: -10px;
  width: 100%;
  font-size: 13px; }
  .contact-us-table th {
    text-align: left;
    background: #e9e9e9;
    padding: 0 12px;
    width: 1px;
    white-space: nowrap; }
  .contact-us-table input[type=text],
  .contact-us-table input[type=email] {
    width: 100%;
    max-width: 360px; }
  .contact-us-table input[type=number] {
    width: 75px; }
  .contact-us-table textarea {
    width: 100%; }
  .contact-us-table input,
  .contact-us-table textarea {
    padding: 8px;
    font-size: inherit;
    font-family: inherit; }

.contact-us-send {
  display: inline-block;
  background: #009102;
  color: #fff;
  border: none;
  outline: none;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  padding: 12px 60px;
  border-radius: 8px;
  font-size: 18px; }
  .contact-us-send:hover, .contact-us-send:focus {
    background: #007A02;
    color: #fff; }

.contact-us-success,
.contact-us-error {
  padding: 7px 10px; }

.contact-us-success {
  background: #DCF7D7;
  border-bottom: 1px solid #8bad84;
  color: #288529; }

.contact-us-error {
  background: #ffd2d1;
  border-bottom: 1px solid #e88989;
  color: #780000; }

@media (min-width: 768px) {
  .contact-us-table {
    font-size: 14.5px; } }
.footer {
  background: #333;
  color: #aaa;
  padding: 30px 15px; }

.footer-contact h1,
.footer-contact h2,
.footer-contact h3,
.footer-contact h4,
.footer-contact h5 {
  color: #ccc;
  text-transform: uppercase; }
.footer-contact a {
  color: #ccc; }
  .footer-contact a:hover, .footer-contact a:focus {
    color: #8FEA8A; }

.footer-social {
  text-align: right;
  margin-right: 10px;
  margin-bottom: 40px; }
  .footer-social .social-link {
    color: #ddd;
    font-size: 32px;
    display: inline-block;
    margin: 0 7px; }
    .footer-social .social-link:hover, .footer-social .social-link:focus {
      color: #8FEA8A;
      text-decoration: none; }

.footer-donate {
  text-align: left;
  margin-top: 30px; }
  .footer-donate h4 {
    color: #ccc; }

@media (min-width: 550px) {
  .footer-social {
    float: right; }

  .footer-donate {
    text-align: right; }

  .footer-contact {
    overflow: hidden; }
    .footer-contact h1,
    .footer-contact h2,
    .footer-contact h3,
    .footer-contact h4 {
      margin-top: 10px; } }
@media (min-width: 768px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 45px; } }
@media (min-width: 992px) {
  .footer {
    padding-left: 0;
    padding-right: 0; } }
body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  color: #444;
  margin: 0;
  overflow-x: hidden; }

h1,
h2,
h3,
h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: #333;
  line-height: 1.1; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 25px; }

h3 {
  font-size: 21px; }

h4 {
  font-size: 18px; }

a {
  text-decoration: none;
  font-weight: bold;
  color: #009102; }
  a:hover {
    color: #000;
    text-decoration: none; }

blockquote {
  background: #ebebeb;
  border-bottom: 1px solid #bbb;
  margin: 0;
  padding: 12px 16px; }
  blockquote p:first-child {
    margin-top: 0; }
  blockquote p:last-child {
    margin-bottom: 0; }

iframe {
  max-width: 100%; }

.text-light {
  color: #888; }

.text-light-green {
  color: #288529; }

.container {
  margin: auto;
  padding: 0 10px; }
  .container:after {
    clear: both;
    display: table;
    content: ' '; }

.small-button {
  display: inline-block;
  background: #009102;
  color: #fff;
  border: none;
  outline: none;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  padding: 12px 60px;
  border-radius: 8px;
  font-size: 18px;
  padding: 7px;
  text-align: center;
  margin-top: 3px;
  border-radius: 5px;
  font-size: 17px;
  width: 96px; }
  .small-button:hover, .small-button:focus {
    background: #007A02;
    color: #fff; }

.donate-button {
  width: 135px;
  background: #0072d6; }
  .donate-button:hover, .donate-button:focus {
    background: #0065bd; }

h2[id]:before {
  display: block;
  content: " ";
  visibility: hidden;
  margin-top: -49px;
  height: 49px; }

@media (min-width: 768px) {
  body {
    font-size: 15px; }

  h1 {
    font-size: 36px; }

  h2 {
    font-size: 30px; }

  h3 {
    font-size: 24px; }

  h4 {
    font-size: 18px; }

  .container {
    padding: 0 15px; }

  .has-double-header h2[id]:before {
    margin-top: -88px;
    height: 88px; } }
@media (min-width: 992px) {
  .container {
    max-width: 1000px; } }
.main-masthead-wrapper,
.sub-masthead-wrapper {
  height: 39px; }

.sub-masthead-wrapper {
  display: none; }

.main-masthead,
.sub-masthead {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  position: fixed;
  width: 100%; }

.nav-divider {
  position: fixed;
  width: 100%;
  z-index: 100000;
  box-shadow: 0 0 2px 1px #fff; }

.main-masthead {
  background: #222;
  z-index: 100002; }
  .main-masthead .header-menu {
    float: right; }

.sub-masthead {
  background: #4D744A;
  box-shadow: 0 0 1px 1px #fff;
  z-index: 100001; }
  .sub-masthead nav {
    margin-left: -5px; }
    .sub-masthead nav .header-menu-item a {
      padding-left: 11px;
      padding-right: 11px; }

.main-masthead-wrapper nav .header-logo,
.sub-masthead-wrapper nav .header-logo {
  display: inline-block;
  margin-top: 5px; }
.main-masthead-wrapper nav .header-hamburger,
.sub-masthead-wrapper nav .header-hamburger {
  float: right;
  color: #fff;
  padding-top: 8px;
  padding-right: 4px;
  font-size: 22px; }
.main-masthead-wrapper nav .header-menu,
.sub-masthead-wrapper nav .header-menu {
  display: none;
  padding: 0;
  margin: 0 -10px;
  width: calc(100% + 20px);
  background: #444; }
  .main-masthead-wrapper nav .header-menu.visible,
  .sub-masthead-wrapper nav .header-menu.visible {
    display: block; }
.main-masthead-wrapper nav .header-menu-item,
.sub-masthead-wrapper nav .header-menu-item {
  border-top: 1px solid #2d2d2d; }
  .main-masthead-wrapper nav .header-menu-item.expanded .header-context-menu,
  .sub-masthead-wrapper nav .header-menu-item.expanded .header-context-menu {
    display: block; }
  .main-masthead-wrapper nav .header-menu-item a,
  .sub-masthead-wrapper nav .header-menu-item a {
    padding: 10px 12px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    display: block;
    width: 100%;
    font-size: 105%;
    text-transform: uppercase; }
    .main-masthead-wrapper nav .header-menu-item a:hover, .main-masthead-wrapper nav .header-menu-item a:focus,
    .sub-masthead-wrapper nav .header-menu-item a:hover,
    .sub-masthead-wrapper nav .header-menu-item a:focus {
      color: #8FEA8A;
      text-decoration: none; }
.main-masthead-wrapper nav .header-context-menu,
.sub-masthead-wrapper nav .header-context-menu {
  display: none;
  padding: 0;
  background: #5d5d5d; }
.main-masthead-wrapper nav .header-context-menu-item,
.sub-masthead-wrapper nav .header-context-menu-item {
  display: block;
  border-top: 1px solid #444;
  padding-left: 12px; }
  .main-masthead-wrapper nav .header-context-menu-item a,
  .sub-masthead-wrapper nav .header-context-menu-item a {
    display: block;
    width: 100%; }

@media (min-width: 768px) {
  .sub-masthead-wrapper {
    display: block; }

  .main-masthead nav {
    margin: 0 -8px; }

  .main-masthead nav .header-menu-item a {
    padding-left: 3.8px;
    padding-right: 3.8px; }

  .main-masthead-wrapper nav .header-menu,
  .sub-masthead-wrapper nav .header-menu {
    display: block;
    margin: 0;
    width: auto;
    background: none; }
  .main-masthead-wrapper nav .header-menu-item,
  .sub-masthead-wrapper nav .header-menu-item {
    position: relative;
    display: inline-block;
    border: none; }
    .main-masthead-wrapper nav .header-menu-item.has-children:hover:after,
    .sub-masthead-wrapper nav .header-menu-item.has-children:hover:after {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 0;
      margin-left: -5px;
      vertical-align: middle;
      content: " ";
      border-right: 5px solid transparent;
      border-bottom: 5px solid #fff;
      border-left: 5px solid transparent; }
    .main-masthead-wrapper nav .header-menu-item a,
    .sub-masthead-wrapper nav .header-menu-item a {
      display: block; }
  .main-masthead-wrapper nav .header-current-menu-item:after,
  .sub-masthead-wrapper nav .header-current-menu-item:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    border-left: 5px solid transparent; }
  .main-masthead-wrapper nav .header-current-menu-item.has-children:after,
  .sub-masthead-wrapper nav .header-current-menu-item.has-children:after {
    border-bottom-color: #4D744A; }
  .main-masthead-wrapper nav .header-context-menu,
  .sub-masthead-wrapper nav .header-context-menu {
    display: none;
    position: absolute;
    min-width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #fff;
    background: none; }
    .main-masthead-wrapper nav .header-context-menu.visible,
    .sub-masthead-wrapper nav .header-context-menu.visible {
      display: block; }
  .main-masthead-wrapper nav .header-context-menu-item,
  .sub-masthead-wrapper nav .header-context-menu-item {
    background: #fff;
    text-align: left;
    white-space: nowrap;
    padding: 0;
    border: 1px solid #fff;
    border-bottom: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.35); }
    .main-masthead-wrapper nav .header-context-menu-item a,
    .sub-masthead-wrapper nav .header-context-menu-item a {
      display: inline-block;
      color: #444;
      text-shadow: none;
      padding: 7px 10px; }
      .main-masthead-wrapper nav .header-context-menu-item a:hover,
      .sub-masthead-wrapper nav .header-context-menu-item a:hover {
        color: #009102; }
  .main-masthead-wrapper nav .header-hamburger,
  .sub-masthead-wrapper nav .header-hamburger {
    display: none; }
  .main-masthead-wrapper nav .nav-divider,
  .sub-masthead-wrapper nav .nav-divider {
    display: none; }
    .main-masthead-wrapper nav .nav-divider.no-sub-header,
    .sub-masthead-wrapper nav .nav-divider.no-sub-header {
      display: block; } }
@media (min-width: 830px) {
  .main-masthead nav .header-menu-item a {
    padding-left: 7px;
    padding-right: 7px; } }
@media (min-width: 992px) {
  .main-masthead nav {
    margin: 0; }

  .sub-masthead nav .header-menu-item a {
    padding-left: 15px;
    padding-right: 15px; }

  .main-masthead nav .header-menu-item a {
    padding-left: 10px;
    padding-right: 10px; } }
.home-banner {
  background: #000; }
  .home-banner img {
    display: block;
    width: 100%;
    max-width: 1400px;
    margin: auto; }

.home-logo {
  display: block;
  margin: 20px auto;
  margin-bottom: 0;
  width: 96%;
  max-width: 800px; }

.home-banner-desktop,
.home-logo-desktop {
  display: none; }

.home-tagline {
  width: 96%;
  max-width: 600px;
  margin: 20px auto;
  font-size: 15.5px; }
  .home-tagline h2 {
    font-size: 25px; }

.home-tagline-desktop {
  display: none; }

.home-middle {
  margin-top: 30px; }

.home-middle-texts {
  margin: 0 auto;
  margin-bottom: 25px;
  max-width: 570px; }

.home-apply {
  max-width: 230px;
  padding: 20px 30px;
  background: #DCF7D7;
  border-bottom: 1px solid #8bad84;
  font-size: 16.5px; }

.home-apply-button {
  display: inline-block;
  background: #009102;
  color: #fff;
  border: none;
  outline: none;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  padding: 12px 60px;
  border-radius: 8px;
  font-size: 18px;
  display: block;
  margin-top: 10px;
  padding: 12px; }
  .home-apply-button:hover, .home-apply-button:focus {
    background: #007A02;
    color: #fff; }

.home-subscribe {
  font-size: 17px;
  padding-top: 20px; }
  .home-subscribe label {
    display: block; }
  .home-subscribe input.email {
    margin: 6px 0;
    padding: 6px;
    font-size: 0.9em; }
  .home-subscribe button {
    padding: 0 12px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 40px;
    background: #555;
    color: #fff;
    border: none;
    line-height: 0.78;
    padding-bottom: 5px;
    vertical-align: middle;
    cursor: pointer; }
    .home-subscribe button:hover {
      background: #222; }

.home-testimonial {
  display: none; }

.home-middle-image {
  overflow: hidden; }

.home-subbanners {
  margin-bottom: 40px; }

.home-subbanner {
  margin-bottom: 20px;
  position: relative; }
  .home-subbanner:after {
    clear: both;
    display: table;
    content: ' '; }
  .home-subbanner a {
    display: inline-block; }

.home-subbanner-image img {
  width: 100%;
  height: auto; }

.home-subbanner-caption {
  font-size: 15px; }
  .home-subbanner-caption h2,
  .home-subbanner-caption h3 {
    margin-top: 10px;
    font-size: 25px;
    font-family: "Cabin Sketch", sans-serif;
    text-transform: lowercase; }

@media (min-width: 400px) {
  .home-tagline {
    font-size: 17px; }
    .home-tagline h2 {
      font-size: 28px; } }
@media (min-width: 500px) {
  .home-logo {
    margin-top: 30px; }

  .home-logo-mobile {
    display: none; }

  .home-logo-desktop {
    display: block; } }
@media (min-width: 540px) {
  .home-middle-texts:after {
    clear: both;
    display: table;
    content: ' '; }

  .home-calls-to-action {
    float: left;
    padding-right: 30px;
    width: 290px; }

  .home-testimonial {
    display: block;
    overflow: hidden; }

  .home-testimonial-attribution {
    margin-top: 10px; } }
@media (min-width: 600px) {
  .home-tagline {
    font-size: 19px;
    margin: 40px auto; }

  .home-middle-texts {
    margin-bottom: 40px; } }
@media (min-width: 768px) {
  .home-logo {
    margin-top: 40px; }

  .home-banner-mobile {
    display: none; }

  .home-banner-desktop {
    display: block; }

  .home-tagline p {
    text-align: justify; }

  .home-tagline-mobile {
    display: none; }

  .home-tagline-desktop {
    display: block; }

  .home-middle {
    margin-top: 40px; }

  .home-subbanner-image.home-subbanner-image-2 {
    width: 60%;
    float: left; }

  .home-subbanner-caption-1,
  .home-subbanner-caption-3 {
    background: #fff;
    position: absolute;
    width: 40%;
    padding: 15px;
    box-shadow: -2px 3px 4px #222; }
    .home-subbanner-caption-1 h2,
    .home-subbanner-caption-1 h3,
    .home-subbanner-caption-3 h2,
    .home-subbanner-caption-3 h3 {
      margin-top: 0; }

  .home-subbanner-caption-1 {
    top: 20px;
    left: 20px;
    width: 42%; }

  .home-subbanner-caption-2 {
    position: auto;
    overflow: hidden;
    padding: 0 30px;
    padding-top: 15px; }

  .home-subbanner-caption-3 {
    top: 45px;
    right: 25px;
    width: calc(600px - 20%); } }
@media (min-width: 900px) {
  .home-subbanners {
    margin-bottom: 60px; }

  .home-subbanner-caption {
    font-size: 16px; }
    .home-subbanner-caption.home-subbanner-caption-2 {
      padding-top: 30px; }
    .home-subbanner-caption.home-subbanner-caption-3 {
      top: 60px; }
    .home-subbanner-caption h2,
    .home-subbanner-caption h3 {
      font-size: 30px; } }
@media (min-width: 992px) {
  .home-middle {
    margin-top: 70px;
    margin-bottom: 20px; }
    .home-middle:after {
      clear: both;
      display: table;
      content: ' '; }

  .home-middle-texts {
    float: left;
    padding-right: 30px;
    margin-bottom: 0;
    width: 290px; }

  .home-calls-to-action {
    padding: 0;
    float: none; }

  .home-testimonial {
    margin-top: 20px; } }
@media (min-width: 1020px) {
  .home-testimonial {
    background: #DCF7D7;
    border-bottom: 1px solid #8bad84;
    padding: 10px 15px; } }
@font-face {
  font-family: 'icon';
  src: url("/wp-content/themes/theopenschool/css/fonts/icon/icon.eot");
  src: url("/wp-content/themes/theopenschool/css/fonts/icon/icon.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/theopenschool/css/fonts/icon/icon.woff") format("woff"), url("/wp-content/themes/theopenschool/css/fonts/icon/icon.ttf") format("truetype"), url("/wp-content/themes/theopenschool/css/fonts/icon/icon.svg#roboto_condensedbold") format("svg");
  font-weight: normal;
  font-style: normal; }
.icon {
  display: inline-block;
  font: normal normal normal 14px/1 'icon';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased; }

.icon-twitter:before {
  content: "\f099"; }

.icon-facebook:before {
  content: "\f09a"; }

.icon-facebook-square:before {
  content: "\f082"; }

.icon-pinterest:before {
  content: "\f0d2"; }

.icon-youtube:before {
  content: "\f167"; }

.icon-instagram:before {
  content: "\f16d"; }

.icon-exclamation-circle:before {
  content: "\f06a"; }

.icon-bars:before {
  content: "\f0c9"; }

.icon-envelope:before {
  content: "\f0e0"; }

.icon-quote-left:before {
  content: "\f10d"; }

.icon-check-square-o:before {
  content: "\f046"; }

.page {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 700px; }
  .page img {
    width: 100% !important;
    height: auto !important; }

.page-wide {
  max-width: none; }

.page-table-of-contents {
  background: #ebebeb;
  border-bottom: 1px solid #bbb;
  padding: 6px 22px; }
  .page-table-of-contents h3 {
    margin-top: 12px;
    font-weight: normal; }
  .page-table-of-contents ul {
    margin-top: 0;
    padding-left: 20px; }
  .page-table-of-contents li {
    margin: 8px 0; }

.page-staff-bio p {
  margin-top: 4px; }

@media (min-width: 768px) {
  .page {
    margin-bottom: 40px; }

  .page-staff {
    margin-bottom: 24px; }
    .page-staff:after {
      clear: both;
      display: table;
      content: ' '; }

  .page-staff-pic {
    float: left; }

  .page-staff-bio {
    overflow: hidden;
    padding-left: 18px; }
    .page-staff-bio p {
      margin: 0; } }
@media (min-width: 992px) {
  .page-title {
    margin-top: 30px; }

  .page {
    margin-bottom: 60px; }

  .page-table-of-contents li {
    margin: 3px 0; } }
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.size-full {
  max-width: 100%;
  height: auto; }

/*# sourceMappingURL=site.css.map */
