.blog-excerpt-container {
  margin-top: 35px; }
  .blog-excerpt-container .entry-subtitle {
    display: none; }

blockquote.blog-sharable {
  background: none;
  border: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 12px 0;
  margin: 24px 0;
  font-size: 1.5em;
  font-weight: bold; }

.blog-footer:after {
  clear: both;
  display: table;
  content: ' '; }

.blog-share {
  float: left; }

.blog-fb-like-full {
  padding-top: 25px; }

.blog-share-facebook {
  font-size: 32px;
  color: #3b5996; }

.blog-share-twitter {
  font-size: 32px;
  color: #54aae8; }

.blog-share-email {
  font-size: 32px;
  display: inline;
  color: #888; }

.blog-buttons {
  padding-bottom: 12px; }
  .blog-buttons .fb-like {
    display: none; }

.blog-apply {
  float: right; }

.blog-subscribe {
  clear: both;
  padding-top: 15px;
  font-size: 17px; }
  .blog-subscribe label {
    display: none; }
  .blog-subscribe .es_form_container {
    margin-top: -7px; }
  .blog-subscribe .es_textbox {
    display: inline-block; }
  .blog-subscribe input[type=email] {
    margin: 6px 0;
    padding: 6px;
    font-size: 0.9em; }
  .blog-subscribe input[type=submit] {
    padding: 0 12px;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 40px;
    background: #555;
    border: none;
    line-height: 0.78;
    padding-bottom: 5px;
    vertical-align: middle;
    cursor: pointer;
    color: transparent;
    width: 40px; }
    .blog-subscribe input[type=submit]:hover {
      background: #222; }
  .blog-subscribe .es_button {
    display: inline-block;
    position: relative; }
    .blog-subscribe .es_button:after {
      content: "\00bb";
      color: #fff;
      font-family: "Open Sans Condensed";
      font-weight: bold;
      font-size: 36px;
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 11px; }

@media (min-width: 700px) {
  .blog-subscribe {
    clear: none;
    float: right;
    padding-top: 0;
    margin-right: 36px; } }
@media (min-width: 992px) {
  .blog-subscribe input[type=email] {
    width: 230px; } }
.blog-subscribe-confirmation {
  color: #005b00; }

.blog-paginator {
  padding-top: 30px; }
  .blog-paginator ul {
    padding: 0;
    margin: 0; }
    .blog-paginator ul li {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 8px; }
      .blog-paginator ul li a {
        display: inline-block;
        border: 1px solid #999;
        border-radius: 8px;
        padding: 12px 16px;
        color: #333;
        box-shadow: -2px 2px 2px #bbb; }
        .blog-paginator ul li a:hover, .blog-paginator ul li a:focus {
          background: #eee;
          color: #000; }

.wp-caption {
  width: auto !important;
  margin-top: 1em;
  background: #ebebeb; }
  .wp-caption > p {
    margin: 0;
    padding: 12px 16px;
    border-bottom: 1px solid #bbb; }

.comments-area {
  border-top: 1px solid #aaa;
  margin-top: 30px;
  padding-top: 10px; }

.comment-list {
  padding-left: 0; }

.comment {
  display: block; }

.comment-author cite {
  font-style: normal; }

.entry-subtitle {
  font-size: 0.6em;
  font-weight: normal;
  margin-top: 6px; }

@media (min-width: 475px) {
  .blog-buttons .fb-like {
    float: right;
    display: block;
    margin-top: 32px; }

  .blog-fb-like-full {
    display: none; } }
.contact-us-table {
  border-spacing: 10px;
  margin-left: -10px;
  width: 100%;
  font-size: 13px; }
  .contact-us-table th {
    text-align: left;
    background: #e9e9e9;
    padding: 0 12px;
    width: 1px;
    white-space: nowrap; }
  .contact-us-table input[type=text],
  .contact-us-table input[type=email] {
    width: 100%;
    max-width: 360px; }
    @media (min-width: 400px) {
      .contact-us-table input[type=text].contact-us-short,
      .contact-us-table input[type=email].contact-us-short {
        max-width: 150px; } }
  .contact-us-table textarea {
    width: 100%; }
  .contact-us-table input,
  .contact-us-table textarea {
    padding: 8px;
    font-size: inherit;
    font-family: inherit; }

.contact-us-send {
  display: inline-block;
  background: #009102;
  color: #fff;
  border: none;
  outline: none;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  padding: 12px 60px;
  border-radius: 8px;
  font-size: 18px; }
  .contact-us-send:hover, .contact-us-send:focus {
    background: #007A02;
    color: #fff; }

.contact-us-success,
.contact-us-error {
  padding: 7px 10px; }

.contact-us-success {
  background: #DCF7D7;
  border-bottom: 1px solid #8bad84;
  color: #005b00; }

.contact-us-error {
  background: #ffd2d1;
  border-bottom: 1px solid #e88989;
  color: #780000; }

@media (min-width: 800px) {
  .contact-us-table {
    font-size: 14.5px; } }
.footer {
  background: #333;
  color: #aaa;
  padding: 30px 15px; }

.footer-contact h1,
.footer-contact h2,
.footer-contact h3,
.footer-contact h4,
.footer-contact h5 {
  color: #ccc;
  text-transform: uppercase; }
.footer-contact a {
  color: #ccc; }
  .footer-contact a:hover, .footer-contact a:focus {
    color: #8FEA8A; }

.footer-social {
  text-align: right;
  margin-right: 10px;
  margin-bottom: 40px; }
  .footer-social .social-link {
    color: #ddd;
    font-size: 32px;
    display: inline-block;
    margin: 0 7px; }
    .footer-social .social-link:hover, .footer-social .social-link:focus {
      color: #8FEA8A;
      text-decoration: none; }

.footer-other-promotions {
  text-align: left;
  margin-top: 30px; }

.footer-donate {
  display: inline-block; }
  .footer-donate h4 {
    color: #ccc; }

@media (min-width: 550px) {
  .footer-social {
    float: right; }

  .footer-other-promotions {
    text-align: right; }

  .footer-contact {
    overflow: hidden; }
    .footer-contact h1,
    .footer-contact h2,
    .footer-contact h3,
    .footer-contact h4 {
      margin-top: 10px; } }
@media (min-width: 800px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 45px; } }
@media (min-width: 992px) {
  .footer {
    padding-left: 0;
    padding-right: 0; } }
body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  color: #444;
  margin: 0;
  overflow-x: hidden; }

h1,
h2,
h3,
h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
  color: #333;
  line-height: 1.1; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 25px; }

h3 {
  font-size: 21px; }

h4 {
  font-size: 18px; }

a {
  text-decoration: none;
  font-weight: bold;
  color: #009102; }
  a:hover {
    color: #000;
    text-decoration: none; }

blockquote {
  background: #ebebeb;
  border-bottom: 1px solid #bbb;
  margin: 3px 0;
  padding: 12px 16px; }
  blockquote p:first-child {
    margin-top: 0; }
  blockquote p:last-child {
    margin-bottom: 0; }

iframe {
  max-width: 100%; }

.text-light {
  color: #888; }

.text-light-green {
  color: #288529; }

.container {
  margin: auto;
  padding: 0 10px; }
  .container:after {
    clear: both;
    display: table;
    content: ' '; }

.small-button {
  display: inline-block;
  background: #009102;
  color: #fff;
  border: none;
  outline: none;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  padding: 12px 60px;
  border-radius: 8px;
  font-size: 18px;
  padding: 7px;
  text-align: center;
  margin-top: 3px;
  border-radius: 5px;
  font-size: 17px;
  width: 96px; }
  .small-button:hover, .small-button:focus {
    background: #007A02;
    color: #fff; }

.donate-button {
  width: 135px;
  background: #0072d6; }
  .donate-button:hover, .donate-button:focus {
    background: #0065bd; }

.fb-like {
  vertical-align: bottom;
  margin-right: 30px; }

.fb-page, .fb-page iframe[style], .fb-page span {
  width: 100% !important; }

.image-block {
  background: #ebebeb;
  text-align: center; }

h2[id]:before {
  display: block;
  content: " ";
  visibility: hidden;
  margin-top: -49px;
  height: 49px; }

@media (min-width: 800px) {
  body {
    font-size: 15px; }

  h1 {
    font-size: 36px; }

  h2 {
    font-size: 30px; }

  h3 {
    font-size: 24px; }

  h4 {
    font-size: 18px; }

  .container {
    padding: 0 15px; }

  .has-double-header h2[id]:before {
    margin-top: -88px;
    height: 88px; } }
@media (min-width: 992px) {
  .container {
    max-width: 1000px; } }
.main-masthead-wrapper,
.sub-masthead-wrapper {
  height: 39px; }

.sub-masthead-wrapper {
  display: none; }

.main-masthead,
.sub-masthead {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
  position: fixed;
  width: 100%; }

.nav-divider {
  position: fixed;
  width: 100%;
  z-index: 100000;
  box-shadow: 0 0 2px 1px #fff; }

.main-masthead {
  background: #222;
  z-index: 100002; }
  .main-masthead .header-menu {
    float: right; }

.sub-masthead {
  background: #4D744A;
  box-shadow: 0 0 1px 1px #fff;
  z-index: 100001; }
  .sub-masthead nav {
    margin-left: -5px; }
    .sub-masthead nav .header-menu-item a {
      padding-left: 11px;
      padding-right: 11px; }

.main-masthead-wrapper nav .header-logo,
.sub-masthead-wrapper nav .header-logo {
  display: inline-block;
  margin-top: 5px; }
.main-masthead-wrapper nav .header-hamburger, .main-masthead-wrapper nav .header-search-activator,
.sub-masthead-wrapper nav .header-hamburger,
.sub-masthead-wrapper nav .header-search-activator {
  float: right;
  color: #fff;
  padding-top: 7px;
  padding-right: 4px;
  padding-left: 12px; }
.main-masthead-wrapper nav .header-hamburger,
.sub-masthead-wrapper nav .header-hamburger {
  font-size: 22px; }
.main-masthead-wrapper nav .header-search-activator,
.sub-masthead-wrapper nav .header-search-activator {
  font-size: 19px;
  z-index: 1;
  position: relative; }
.main-masthead-wrapper nav .header-menu,
.sub-masthead-wrapper nav .header-menu {
  display: none;
  padding: 0;
  margin: 0 -10px;
  width: calc(100% + 20px);
  background: #444; }
  .main-masthead-wrapper nav .header-menu.visible,
  .sub-masthead-wrapper nav .header-menu.visible {
    display: block; }
.main-masthead-wrapper nav .header-menu-item,
.sub-masthead-wrapper nav .header-menu-item {
  border-top: 1px solid #2d2d2d; }
  .main-masthead-wrapper nav .header-menu-item.expanded .header-context-menu,
  .sub-masthead-wrapper nav .header-menu-item.expanded .header-context-menu {
    display: block; }
  .main-masthead-wrapper nav .header-menu-item a,
  .sub-masthead-wrapper nav .header-menu-item a {
    padding: 10px 12px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    display: block;
    width: 100%;
    font-size: 110%;
    text-transform: uppercase; }
    .main-masthead-wrapper nav .header-menu-item a:hover, .main-masthead-wrapper nav .header-menu-item a:focus,
    .sub-masthead-wrapper nav .header-menu-item a:hover,
    .sub-masthead-wrapper nav .header-menu-item a:focus {
      color: #8FEA8A;
      text-decoration: none; }
.main-masthead-wrapper nav .header-context-menu,
.sub-masthead-wrapper nav .header-context-menu {
  display: none;
  padding: 0;
  background: #5d5d5d; }
.main-masthead-wrapper nav .header-context-menu-item,
.sub-masthead-wrapper nav .header-context-menu-item {
  display: block;
  border-top: 1px solid #444;
  padding-left: 12px; }
  .main-masthead-wrapper nav .header-context-menu-item a,
  .sub-masthead-wrapper nav .header-context-menu-item a {
    display: block;
    width: 100%; }

.header-search-area {
  display: none;
  background: #444;
  margin: 0 -10px;
  padding: 11px;
  color: #fff;
  text-align: right; }
  .header-search-area.visible {
    display: block; }

@media (min-width: 835px) {
  .sub-masthead-wrapper {
    display: block; }

  .main-masthead nav {
    margin: 0 -8px; }

  .main-masthead nav .header-menu-item a {
    padding-left: 3.8px;
    padding-right: 3.8px; }

  .main-masthead-wrapper nav .header-menu,
  .sub-masthead-wrapper nav .header-menu {
    display: block;
    margin: 0;
    width: auto;
    background: none; }
  .main-masthead-wrapper nav .header-menu-item,
  .sub-masthead-wrapper nav .header-menu-item {
    position: relative;
    display: inline-block;
    border: none; }
    .main-masthead-wrapper nav .header-menu-item.has-children:hover:after,
    .sub-masthead-wrapper nav .header-menu-item.has-children:hover:after {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 0;
      margin-left: -5px;
      vertical-align: middle;
      content: " ";
      border-right: 5px solid transparent;
      border-bottom: 5px solid #fff;
      border-left: 5px solid transparent; }
    .main-masthead-wrapper nav .header-menu-item a,
    .sub-masthead-wrapper nav .header-menu-item a {
      display: block; }
  .main-masthead-wrapper nav .header-current-menu-item:after,
  .sub-masthead-wrapper nav .header-current-menu-item:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    border-left: 5px solid transparent; }
  .main-masthead-wrapper nav .header-current-menu-item.has-children:after,
  .sub-masthead-wrapper nav .header-current-menu-item.has-children:after {
    border-bottom-color: #4D744A; }
  .main-masthead-wrapper nav .header-context-menu,
  .sub-masthead-wrapper nav .header-context-menu {
    display: none;
    position: absolute;
    min-width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #fff;
    background: none; }
    .main-masthead-wrapper nav .header-context-menu.visible,
    .sub-masthead-wrapper nav .header-context-menu.visible {
      display: block; }
  .main-masthead-wrapper nav .header-context-menu-item,
  .sub-masthead-wrapper nav .header-context-menu-item {
    background: #fff;
    text-align: left;
    white-space: nowrap;
    padding: 0;
    border: 1px solid #fff;
    border-bottom: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.35); }
    .main-masthead-wrapper nav .header-context-menu-item a,
    .sub-masthead-wrapper nav .header-context-menu-item a {
      display: inline-block;
      color: #444;
      text-shadow: none;
      padding: 7px 10px; }
      .main-masthead-wrapper nav .header-context-menu-item a:hover,
      .sub-masthead-wrapper nav .header-context-menu-item a:hover {
        color: #009102; }
  .main-masthead-wrapper nav .header-hamburger,
  .sub-masthead-wrapper nav .header-hamburger {
    display: none; }
  .main-masthead-wrapper nav .header-search-activator:hover,
  .sub-masthead-wrapper nav .header-search-activator:hover {
    color: #8FEA8A;
    cursor: pointer; }
  .main-masthead-wrapper nav .nav-divider,
  .sub-masthead-wrapper nav .nav-divider {
    display: none; }
    .main-masthead-wrapper nav .nav-divider.no-sub-header,
    .sub-masthead-wrapper nav .nav-divider.no-sub-header {
      display: block; } }
@media (min-width: 895px) {
  .main-masthead nav .header-menu-item a {
    padding-left: 7px;
    padding-right: 7px; } }
@media (min-width: 992px) {
  .main-masthead nav {
    margin: 0; }

  .sub-masthead nav .header-menu-item a {
    padding-left: 15px;
    padding-right: 15px; }

  .main-masthead nav .header-menu-item a {
    padding-left: 10px;
    padding-right: 10px; } }
.home-greenscreen {
  padding-top: 40px; }

.home-greenscreen-1, .home-learn-more {
  background: #198025;
  text-align: center; }

.home-logo {
  width: 150px;
  margin: auto; }
  .home-logo img {
    width: 100%; }

.home-title {
  font-family: "Pompiere";
  text-transform: uppercase;
  font-weight: normal;
  color: #fff;
  font-size: 2.6em;
  margin-bottom: 5px; }

.home-title-caption {
  font-family: "Delius";
  color: #fff;
  margin: auto;
  width: 250px;
  font-size: 1.05em; }

.home-greenscreen-image {
  width: 90%;
  margin: auto;
  margin-top: 45px; }
  .home-greenscreen-image img {
    width: 100%; }
  .home-greenscreen-2 .home-greenscreen-image {
    width: 60%; }
  .home-greenscreen-3 .home-greenscreen-image {
    width: 85%; }
  .home-greenscreen-4 .home-greenscreen-image {
    width: 70%; }
  .home-greenscreen-5 .home-greenscreen-image {
    width: 75%; }

.home-greenscreen-text {
  margin: auto;
  color: #fff; }

.home-greenscreen-testimonial {
  max-width: 300px;
  font-family: "Delius";
  margin: 0 40px; }

@media (min-width: 380px) {
  .home-greenscreen-testimonial {
    margin: auto;
    margin-top: 20px;
    font-size: 1.1em; } }
@media (min-width: 500px) {
  .home-greenscreen-image {
    width: 70%; }
    .home-greenscreen-2 .home-greenscreen-image {
      width: 50%; }
    .home-greenscreen-3 .home-greenscreen-image {
      width: 65%; }
    .home-greenscreen-4 .home-greenscreen-image {
      width: 60%; }
    .home-greenscreen-5 .home-greenscreen-image {
      width: 63%; }

  .home-greenscreen-testimonial {
    margin-top: 30px;
    max-width: 360px;
    font-size: 1.2em; } }
@media (min-width: 600px) {
  .home-logo {
    float: left;
    margin-right: 25px;
    margin-left: 18%; }

  .home-title {
    text-align: left;
    padding-top: 10px; }

  .home-title-caption {
    overflow: hidden;
    text-align: left;
    margin: 0; } }
@media (min-width: 700px) {
  .home-logo {
    margin-left: 22%; }

  .home-greenscreen-image {
    width: 60%; }
    .home-greenscreen-2 .home-greenscreen-image {
      width: 40%; }
    .home-greenscreen-3 .home-greenscreen-image {
      width: 60%; }
    .home-greenscreen-4 .home-greenscreen-image {
      width: 50%; }
    .home-greenscreen-5 .home-greenscreen-image {
      width: 54%; } }
@media (min-width: 800px) {
  .home-logo {
    width: 120px;
    float: none;
    margin: auto; }

  .home-title {
    font-size: 2.2em;
    text-align: center;
    padding-top: 0; }

  .home-title-caption {
    font-size: 0.95em;
    width: 240px;
    text-align: center;
    margin: auto; }

  .home-greenscreen-testimonial {
    font-size: 1em;
    max-width: 300px; }

  .home-greenscreen-image {
    width: 47%;
    margin-top: 0; }
    .home-greenscreen-2 .home-greenscreen-image {
      width: 28%; }
    .home-greenscreen-3 .home-greenscreen-image {
      width: 45%; }
    .home-greenscreen-4 .home-greenscreen-image {
      width: 35%; }
    .home-greenscreen-5 .home-greenscreen-image {
      width: 38%; }

  .home-greenscreen-image-left {
    margin-left: 5%; }
    .home-greenscreen-2 .home-greenscreen-image-left {
      margin-left: 13%; }
    .home-greenscreen-3 .home-greenscreen-image-left {
      margin-left: 8%; }
    .home-greenscreen-4 .home-greenscreen-image-left {
      margin-left: 10%; }
    .home-greenscreen-5 .home-greenscreen-image-left {
      margin-left: 9%; }

  .home-greenscreen-image-right {
    margin-right: 5%; }
    .home-greenscreen-2 .home-greenscreen-image-right {
      margin-right: 13%; }
    .home-greenscreen-3 .home-greenscreen-image-right {
      margin-right: 8%; }
    .home-greenscreen-4 .home-greenscreen-image-right {
      margin-right: 10%; }
    .home-greenscreen-5 .home-greenscreen-image-right {
      margin-right: 9%; }

  .home-greenscreen-1 .home-greenscreen-text,
  .home-greenscreen-3 .home-greenscreen-text {
    margin-top: -15px; }

  .home-greenscreen-text-right {
    float: right;
    margin-right: 10%; }

  .home-greenscreen-text-left {
    float: left;
    margin-left: 10%; } }
@media (min-width: 850px) {
  .home-greenscreen-1 .home-greenscreen-text,
  .home-greenscreen-3 .home-greenscreen-text {
    margin-top: 0; }

  .home-greenscreen-testimonial {
    margin-top: 50px; }

  .home-greenscreen-testimonial {
    margin-top: 50px; } }
@media (min-width: 900px) {
  .home-greenscreen-testimonial {
    font-size: 1.1em; } }
@media (min-width: 950px) {
  .home-title-caption {
    width: 270px;
    font-size: 1.05em; }

  .home-greenscreen-1 .home-greenscreen-text,
  .home-greenscreen-3 .home-greenscreen-text {
    margin-top: 5px; }

  .home-greenscreen-text-right {
    margin-right: 13%; }

  .home-greenscreen-text-left {
    margin-left: 13%; } }
@media (min-width: 992px) {
  .home-logo {
    width: 150px; }

  .home-greenscreen-testimonial {
    font-size: 1.2em;
    max-width: 360px; } }
@media (min-width: 1100px) {
  .home-title {
    font-size: 2.6em; }

  .home-greenscreen-1 .home-greenscreen-text,
  .home-greenscreen-3 .home-greenscreen-text {
    margin-top: 20px; } }
@media (min-width: 1200px) {
  .home-logo {
    width: 180px; }

  .home-greenscreen-testimonial {
    margin-top: 70px; }

  .home-greenscreen-text-right {
    margin-right: 15%; }

  .home-greenscreen-text-left {
    margin-left: 15%; }

  .home-greenscreen-2 .home-greenscreen-image {
    width: 22%; }
  .home-greenscreen-4 .home-greenscreen-image {
    width: 30%; }

  .home-greenscreen-2 .home-greenscreen-image-left {
    margin-left: 20%; }
  .home-greenscreen-4 .home-greenscreen-image-left {
    margin-left: 15%; }

  .home-greenscreen-2 .home-greenscreen-image-right {
    margin-right: 20%; }
  .home-greenscreen-4 .home-greenscreen-image-right {
    margin-right: 15%; } }
@media (min-width: 1300px) {
  .home-logo {
    width: 200px; }

  .home-title {
    font-size: 3em; }

  .home-title-caption {
    width: 330px; }

  .home-greenscreen-1 .home-greenscreen-text,
  .home-greenscreen-3 .home-greenscreen-text {
    margin-top: 45px; } }
.home-greenscreen-3 {
  background: #007ac1;
  padding-top: 56px; }
  .home-greenscreen-3 .home-greenscreen-text {
    width: 236px;
    white-space: nowrap; }

.home-link-arrow {
  font-size: 1.7em;
  font-family: "Pompiere"; }

.home-apply-block,
.home-subscribe label,
.home-events-block h2 {
  color: #fff;
  font-family: "Pompiere";
  text-transform: uppercase;
  font-size: 22px; }

.home-apply-block a {
  color: #fff;
  display: block;
  font-size: 1.31em;
  margin-top: -0.8em;
  font-family: "Open Sans Condensed"; }

.home-subscribe {
  margin-top: 20px; }
  .home-subscribe label {
    margin-bottom: -11px; }
  .home-subscribe input {
    border: 3px solid #fff;
    width: 192px; }
  .home-subscribe button {
    background: none;
    color: #fff;
    padding: 0;
    padding-bottom: 16px;
    padding-left: 6px;
    font-size: 4em;
    font-family: "Pompiere";
    font-weight: bold;
    border: none;
    line-height: 0.78;
    vertical-align: middle;
    cursor: pointer; }

.home-events-block h2 {
  font-weight: normal;
  font-size: 2.3em; }

.home-event {
  color: #fff;
  margin-bottom: 15px;
  font-family: "Delius"; }
  .home-event a {
    color: #fff;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Open Sans Condensed";
    font-size: 1.3em;
    margin-top: -0.5em;
    margin-bottom: -0.2em; }

@media (min-width: 600px) {
  .home-greenscreen-3 .home-greenscreen-text {
    margin-left: 8%; }

  .home-apply-and-subscribe {
    float: left;
    margin-right: 30%;
    padding-bottom: 30px; } }
@media (min-width: 650px) {
  .home-apply-and-subscribe {
    margin-right: 50%; } }
@media (min-width: 750px) {
  .home-greenscreen-3 .home-greenscreen-text {
    margin-left: 12%; } }
@media (min-width: 800px) {
  .home-greenscreen-3 {
    padding-top: 40px; }
    .home-greenscreen-3 .home-greenscreen-text {
      margin-left: 10%; }

  .home-apply-and-subscribe {
    float: none;
    margin: 0;
    padding: 0; }

  .home-apply-block,
  .home-subscribe label,
  .home-events-block h2 {
    font-size: 18px; }

  .home-subscribe {
    margin-top: 10px; }

  .home-events-block h2 {
    margin-top: 10px;
    font-size: 1.9em; }

  .home-event {
    margin-bottom: 10px;
    font-size: 0.9em; }
    .home-event a {
      margin-top: -0.6em;
      margin-bottom: -0.3em; } }
@media (min-width: 992px) {
  .home-greenscreen-3 {
    padding-top: 40px; }

  .home-subscribe {
    margin-top: 20px; }

  .home-subscribe input {
    width: 226px; }

  .home-events-block h2 {
    margin-top: 20px; }

  .home-event {
    margin-bottom: 15px;
    font-size: 1em; }
    .home-event a {
      margin-top: -0.5em;
      margin-bottom: -0.2em; } }
@media (min-width: 1100px) {
  .home-apply-block,
  .home-subscribe label,
  .home-events-block h2 {
    font-size: 22px; }

  .home-events-block h2 {
    font-size: 2.3em; }

  .home-event {
    font-size: 1em; } }
@media (min-width: 1200px) {
  .home-greenscreen-3 {
    padding-top: 40px; }
    .home-greenscreen-3 .home-greenscreen-text {
      margin-left: 15%; }

  .home-subscribe {
    margin-top: 28px; }

  .home-events-block {
    margin-top: 36px; } }
@media (min-width: 1260px) {
  .home-subscribe {
    margin-top: 40px; }

  .home-events-block {
    margin-top: 45px; } }
.home-greenscreen-2 {
  background: #c43c59; }
  .home-greenscreen-2 .home-greenscreen-image {
    padding-top: 10px; }
  .home-greenscreen-2 h2 {
    color: #fff;
    font-family: "Pompiere";
    text-transform: uppercase;
    font-weight: normal;
    font-size: 3.2em;
    padding-left: 30px; }

.home-greenscreen-4 {
  background: #a625b2; }
  .home-greenscreen-4 .home-greenscreen-image {
    padding-top: 10px; }

.home-greenscreen-5 {
  background: #d86500; }
  .home-greenscreen-5 .home-greenscreen-image {
    padding-bottom: 100px; }

.home-new-banner-container {
  background: #000;
  margin: 12px 0;
  overflow: hidden; }

.home-new-banner {
  max-width: 1000px;
  margin: auto; }
  .home-new-banner img {
    width: 100%; }

.home-new-banner-1 {
  width: 160%;
  margin-left: -21%; }

.home-new-banner-3 {
  width: 145%;
  margin-left: -13.5%; }

.home-new-banner-2 {
  width: 134%;
  margin-left: -13.5%; }

@media (min-width: 550px) {
  .home-new-banner-1 {
    width: 130%;
    margin-left: -12%; }

  .home-new-banner-2 {
    width: 120%;
    margin-left: -10%; }

  .home-new-banner-3 {
    width: 130%;
    margin-left: -6%; } }
@media (min-width: 700px) {
  .home-new-banner-1,
  .home-new-banner-2,
  .home-new-banner-3 {
    width: 100%;
    margin-left: auto; } }
.home-container {
  max-width: 1400px;
  margin: auto; }
  .home-container:after {
    clear: both;
    display: table;
    content: ' '; }

.home-banner-preloaded {
  display: block; }

.home-banner-placeholder {
  display: block;
  filter: blur(7px); }

@keyframes blur_up {
  from {
    filter: blur(7px); }
  to {
    filter: blur(0); } }
.home-banner-loader {
  display: none; }
  .home-banner-loader.loaded {
    display: block;
    animation-name: blur_up;
    animation-duration: 0.4s; }

.home-subscribe label {
  display: block; }
.home-subscribe input.email {
  margin: 6px 0;
  padding: 6px;
  font-size: 0.9em; }

.home-learn-more {
  padding: 70px 0;
  line-height: 0.87; }
  .home-learn-more a {
    color: #fff;
    font-family: "Delius";
    font-size: 1.18em;
    font-weight: normal; }

.home-nonprofit-badge img {
  width: 100%; }

@media (min-width: 500px) {
  .home-nonprofit-badge {
    display: none; } }
@media (min-width: 835px) {
  .home-learn-more {
    display: none; } }
.page {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 700px; }
  .page img {
    width: 100% !important;
    height: auto !important; }
  .page .container-for-small-images img {
    width: auto !important; }
  .page ul {
    padding-left: 25px; }
  .page li {
    margin-bottom: 5px; }

.page-wide {
  max-width: none; }

.page-table-of-contents {
  background: #ebebeb;
  border-bottom: 1px solid #bbb;
  padding: 6px 22px; }
  .page-table-of-contents h3 {
    margin-top: 12px;
    font-weight: normal; }
  .page-table-of-contents ul {
    margin-top: 0;
    padding-left: 20px; }
  .page-table-of-contents li {
    margin: 8px 0; }

.page-staff-bio p {
  margin-top: 4px; }

@media (min-width: 800px) {
  .page {
    margin-bottom: 40px; }

  .page-staff {
    margin-bottom: 24px; }
    .page-staff:after {
      clear: both;
      display: table;
      content: ' '; }

  .page-staff-pic {
    float: left; }

  .page-staff-bio {
    overflow: hidden;
    padding-left: 18px; }
    .page-staff-bio p {
      margin: 0; } }
@media (min-width: 992px) {
  .page .image-block.left {
    width: 50%;
    float: left;
    margin-right: 15px; }
  .page .image-block.right {
    width: 50%;
    float: right;
    margin-left: 15px; }

  .page-title {
    margin-top: 30px; }

  .page {
    margin-bottom: 60px; }

  .page-table-of-contents li {
    margin: 3px 0; } }
.search-result {
  margin-top: 25px; }
  .search-result h2 {
    margin: 5px 0;
    font-size: 25px; }
  .search-result p {
    margin: 5px 0; }
  .search-result .entry-subtitle {
    display: none; }

.search-form .screen-reader-text {
  display: none; }
  @media (min-width: 835px) {
    .search-form .screen-reader-text {
      display: inline; } }

.search-no-results {
  margin-top: 20px; }

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.size-full {
  max-width: 100%;
  height: auto; }

/*# sourceMappingURL=site.css.map */
